@import "tailwindcss";
@import "react-day-picker/style.css";

@custom-variant dark (&:where(.dark, .dark *));

.rdp-root {
  --rdp-accent-color: rgb(14 165 233);
  --rdp-accent-background-color: rgb(14 165 233 / 0.2);
  --rdp-day_button-border-radius: 0.5rem;
}

.rdp-root .rdp-day_button:hover {
  background-color: rgb(51 65 85);
}